/*
 * LSformElement_select_object
 */
a.LSformElement_select_object {
  text-decoration:            none;
  color:                      #000;
  font-weight:                normal;
}

a.LSformElement_select_object_deleted {
  font-style:                 italic;
  color:                      #777;
  text-decoration:            line-through;
}

ul.LSformElement_select_object_edit {
  border:                     1px solid #b5e4f6;
  border-bottom:              none;
  width:                      300px;
}

li.LSformElement_select_object {
  padding:                    0.1em;
  border-bottom:              1px solid #b5e4f6;
}

li.LSformElement_select_object_addBtn {
  background-color:           #b5e4f6;
  text-align:                 center;
}

img.LSformElement_select_object_deleteBtn {
  cursor:                     pointer;
}

/* LSformElement_select_object_searchAdd */
input.LSformElement_select_object_searchAdd {
  border:                     1px solid #ccc;
  width:                      200px;
  margin-left:                20px;
}

ul.LSformElement_select_object_searchAdd {
  border:                     1px solid #ccc;
  width:                      200px;
  margin:                     0;
  margin-top:                 0.1em;
  height:                     10em;
  overflow:                   auto;
  padding:                    0;
  list-style-type:            none;
}

li.LSformElement_select_object_searchAdd {
  cursor:                     pointer;
}

li.LSformElement_select_object_searchAdd_over {
  background-color:           #ccc;
}

li.LSformElement_select_object_searchAdd_current {
  font-style:                 italic;
  color:                      #777;
}
