/*
 ******************
 * LSForm
 ******************
 */

/*
 * Layout
 */
ul.LSform_layout_active {
  list-style-type:    none;
  padding:            0;
  margin:             1em;
  margin-bottom:      0;
}

li.LSform_layout a {
  text-decoration:    none;
  color:              #0072B8;
}

li.LSform_layout_active a {
  color:              #fff;
}

li.LSform_layout_active {
  text-decoration:    none;
  color:              #fff;
  background-color:   #52BCE5;
  -moz-border-radius: 3px 3px 0px 0px;
  padding:            4px;
  display:            inline;
  margin-right:       1px;
}

li.LSform_layout_current {
  color:              #fff;
  background-color:   #0072B8;
}

h2.LSform_layout_active {
  display:            none;
}

div.LSform_layout {
  border:             1px solid #0072B8;
  margin:             1em;
  padding:            0.5em;
}
 
div.LSform_layout_active {
  display:            none;
  margin-top:         4px;
}

div.LSform_layout_current {
  display:            block;
}

/*
 * Architecture
 */ 
div.LSform {
  margin-left:                1em;
}
 
dl.LSform {
  margin:                     0;
  padding:                    0;
}

.LSform dt {
  position:                   relative;
  left:                       0.2em;
  top:                        1.2em;
  width:                      16em;
  font-weight:                bold;
  font-size:                  0.9em;
  color:                      #0072b8;
}

dd.LSform {
  margin-left:                16em;
  padding:                    0;
}

ul.LSform {
  list-style-type:            none;
  padding:                    0;
  margin:                     0;
}

ul.LSform li {
  overflow:                   auto;
  margin-bottom:              2px;
}

/*
 * Champs du formulaire
 */
.LSform input[type=text], .LSform input[type=file], .LSform input[type=submit], .LSform input[type=password], .LSform select, .LSform textarea {
  border:                     1px solid #ccc;
  width:                      300px;
  background-color:           #b5e4f6;
}

.LSform input[type=radio] {
  width:                      undefinded;
}

input[type='submit'].LSform {
  border:                     1px outset #ccc;
  margin-top:                 1em;
  margin-left:                6em;
  width:                      8em;
}

dd.LSform-errors {
  color:                      #fff;
  background-color:           #f59a67;
  width:                      302px;
}

dt.LSform-errors {
  color:                      #f59a67;
}

/* Bouton JS */
img.LSform-add-field-btn, img.LSform-remove-field-btn {
  cursor:                     pointer;
}

/* Tips */
.tip-top {
  color: #fff;
  width: 139px;
  z-index: 13000;
}
 
.tip-title {
  font-weight:      bold;
  font-size:        11px;
  margin:           0;
  color:            #b5e4f6;
  padding:          2px;
  background:       #333;
  opacity:          0.8;
  -moz-border-radius:   2px;
  max-width:        500px;
  text-align:       justify;
}
