body {
  font-family:        sans-serif;
  margin:             0;
  padding:            0;
}

img {
  vertical-align:     bottom;
}

a:hover {
  text-decoration:    underline;
}

h1 {
  margin:             0.5em;
  margin-bottom:      1px;
  border-bottom:      1px solid #0072b8;
  color:              #0072b8;
  clear:              left;
}

h2 {
  margin:             0.7em;
  margin-bottom:      1px;
  color:              #0072b8;
  clear:              left;
}

a img {
  border:             none;
}

.btn {
  cursor:             pointer;
  margin:             2px;
}

/*
 * Interface
 */
#main {
  width:              1000px;
  height:             600px;
  margin:             auto;
  border:             1px solid #0072b8;
  border-collapse: collapse;
}

#left {
  vertical-align:     top;
  background-color:   #0072b8;
  width:              160px;
}

#right {
  vertical-align:     top;
}

#logo {
  margin:             auto;
  width:              142px;
  margin-left:        9px;
  margin-top:         9px;
  background-color:   #fff;
  border:             1px solid #0072b8;
  -moz-border-radius: 15px;
  border-radius:      15px;
  padding-top:        30px;
  padding-bottom:     30px;
}

#status {
  margin:             0;
  padding:            0;
  font-size:          0.7em;
  color:              #fff;
  text-align:         right;
  background-color:   #0072b8;
  padding:            0.3em;
  height:             1em;
}

#user_name {
  font-weight:        bold;
}

/*
 * LSsession
 */
#LSsession_topDn {
  height:                   1.5em;
  width:                    150px;
}

#LSsession_topDn_form {
  width:                    150px;
  margin:                   5px;
  color:                    #fff;
}

/*
 ******************
 * Menu
 ******************
 */
form.LSglobal_search {
  margin-top: 0.8em;
  border: 1px solid #0097c4;
  display: flex;
}

input.LSglobal_search {
  width: 144px!important;
  border: none!important;
  margin-right: 0;
  height: 20px;
  padding: 1px 3px;
  display: flex;
  outline: none;
  box-sizing: border-box;
}

form.LSglobal_search input[type='image'] {
  display: inline-block;
  margin-left: 0;
  box-sizing: content-box;
  height: 16px;
  padding: 2px;
  display: flex;
}

ul.menu {
  list-style-image:   url(../image/puce);
}

li.menu {
  color:              #fff;
}

a.menu {
  color:              #fff;
  text-decoration:    none;
}

/*
 ****************
 * LSobject-list
 ****************
 */

table.LSobject-list {
  margin-left:        1em;
  margin-top:         0.5em;
  border:             1px solid #0072b8;
  width:              805px;
  border-collapse:    collapse;
  clear:              both;
}

/*
 * th
 */
th.LSobject-list {
  background-color:   #0072b8;
  color:              #fff;
}

a th.LSobject-list {
  text-decoration:    none;
}

th.LSobject-list-subdn {
  width:              15em;
}

img.LSobject-list-ordersense {
  vertical-align:     middle;
}

th.LSobject-list a {
  color:              #fff;
  text-decoration:    none;
}

/*
 * tr
 */
tr.LSobject-list-bis {
  background-color:   #c1d7e3;
}

tr.LSobject-list:hover {
  background-color:   #729EB6;
}

/*
 * td
 */
td.LSobject-list {
  border:             1px solid #0072b8;
  padding:            0.1em;
}

td.LSobject-list-without-result {
  text-align:         center;
}

a.LSobject-list {
  color:              #000;
  text-decoration:    none;
}

/* Action */
a.LSobject-list-actions {
  color:              #0072b8;
  text-decoration:    none;
}

a.LSobject-list-actions:hover {
  text-decoration:    underline;
}

td.LSobject-list-actions {
  text-align:         center;
  width:              7em;
}

/* Name */
td.LSobject-list-names {
  cursor:             pointer;
}

/*
 * Liste des pages
 */
p.LSobject-list-page {
  text-align:         center;
  margin:             auto;
  margin-top:         0.5em;
  max-width:          20em;
}

a.LSobject-list-page, a.LSobject-list-nb-by-page {
  color:              #0072b8;
  text-decoration:    none;
}

a.LSobject-list-page:hover, a.LSobject-list-nb-by-page:hover {
  color:              #0072b8;
}

strong.LSobject-list-page, strong.LSobject-list-nb-by-page {
  color:              #0072b8;
}

#LSobject_list_nbresult, p.LSobject-list-nb-by-page {
  float:              right;
  clear:              both;
  color:              #333;
  font-style:         italic;
  margin:             0;
  margin-right:       20px;
}

#LSobject_list_nbresult {
  text-transform:     lowercase;
}

/*
 *******************
 * LSview-actions
 *******************
 */
#LSview_title, #LSform_title {
  clear:              both;
  margin-bottom:      0;
}

a.LSview-actions {
  text-decoration:    none;
  color:              #000;
}

ul.LSview-actions {
  clear:              both;
  float: right;
  text-align:         right;
  font-size:          0.8em;
  margin:             0;
  margin-right:       3rem;
  margin-bottom:      0.8rem;
  color:              #0072b8;
}

li.LSview-actions {
  text-decoration:    none;
  color:              #000;
  border:             1px solid #0072b8;
  border-top:         0;
  padding:            0.4rem;
  display:            inline-block;
  margin-right:       0.1rem;
}

/*
 *******************
 * question
 *******************
 */
p.question {
  margin-left:        3em;
}

a.question {
  margin-left:        10em;
  margin-top:         3em;
  color:              #0072b8;
}

/*
 *********************
 * LSview_search
 *********************
 */
div.LSview_search {
  float:              right;
  margin:             0;
  margin-top:         0.5rem;
  margin-right:       2em;
  margin-bottom:      -2rem;
}

#LSview_search_param {
  margin:             0px;
  padding:            0px;
}

label.LSview_search {
  font-size:          0.6em;
}

input[type='text'].LSview_search {
  border:             1px solid #0072b8;
  width:              12em;
}

input[type='submit'].LSview_search {
  border:             1px solid #0072b8;
  width:              8rem;
  background-color:   #0072b8;
  color:              #fff;
}

#LSview_search_predefinedFilter {
  float:              left;
  margin-top:         0.2rem;
  margin-bottom:      0;
  margin-left:        1.2rem;
}

/*
 *********************
 * Error page
 *********************
 */
#error {
	margin: auto;
	max-width: 80%;
	text-align: center;
}

#error h1 {
	border: none;
}

#error pre {
	color: #111;
	text-align: left;
	background-color: #eee;
	width: 80%;
	margin: auto;
	margin-top: 3em;
	padding: 0.5em;
	border-radius: 1em;
	border: 1px solid #ccc;
}

#error pre em {
	border-radius: 6px;
	background-color: #60B7D4;
	font-family: sans-serif;
	font-size: 1em;
	font-style: normal;
	padding: 5px;
	margin: 0.2em;
	margin-top: -1.5em;
	display: block;
	max-width: 50%;
	border-radius: 1em;
	font-weight: bold;
  white-space: pre-wrap;
}
