ul.LSformElement_supannCompositeAttribute li {
	border: 1px dotted #CCC;
	padding: 2px;
}

ul.LSformElement_supannCompositeAttribute li.noValue {
	border: none;
}

ul.LSformElement_supannCompositeAttribute p {
	margin: 0;
}

ul.LSformElement_supannCompositeAttribute p label {
	display: inline-block;
	height: 100%;
	vertical-align: top;
	width: 11rem;
	font-weight: bold;
}

ul.LSformElement_supannCompositeAttribute p span {
	vertical-align: bottom;
}

input.LSformElement_supannCompositeAttribute_search {
	border: 1px solid #CCC;
	width: 200px;
	background: url('../image/find') no-repeat scroll 0% 0% #FFF !important;
	padding-left: 18px;
	margin-left: 11rem;
}

div.supannCompositeAttribute_possibleValues ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	border: 1px solid #CCC;
	border-collapse: collapse;
	margin-left: 11rem;
}

div.supannCompositeAttribute_possibleValues li {
	border-bottom: 1px solid #CCC;
	margin-bottom: 2px;
}

div.supannCompositeAttribute_possibleValues li:hover {
	background-color: #CCC;
	cursor: pointer;
}
