/*
 * LSformElement_image
 */
div.LSformElement_image {
  float:              right;
  clear:              both;
  margin:             2em;
  background-color:   #0072B8;
  width:              160px;
  padding:            5px;
  text-align:         center;
  -moz-border-radius: 1em;
  border-radius:      1em;
}

img.LSformElement_image {
  width:              150px;
  border:             1px solid #fff;
  margin:             5px;
  background-color:   #fff;
}

div.LSformElement_image_errors {
  background-color:   #f59a67;
}

ul.LSformElement_image_actions {
  list-style-type:    none;
  position:           absolute;
  margin-top:         8px;
  margin-left:        135px;
  padding:            0;
  visibility:         hidden;
  cursor:             pointer;
}

@media (max-width: 1024px) {
  div.LSformElement_image {
    float: none;
    margin: auto;
    width: 30vw;
    max-width: calc(30vw - 0.6rem);
    border-radius: 0.3rem;
    padding: 0.3rem;
  }

  img.LSformElement_image {
    width: calc(100% - 0.6rem);
    padding: 0;
    margin: 0;
  }

  ul.LSformElement_image_actions {
  	margin-top: 0;
  	margin-left: calc(30vw - 1rem - 20px);
  	border-radius: 3px;
  	padding: 2px;
  }
}
