/*
 * LSformElement_password
 */
img.LSformElement_password_view_btn, img.LSformElement_password_generate_btn, img.LSformElement_password_verify_btn {
  cursor:                     pointer;
}

div.LSformElement_password_confirm label {
  display: block;
  color: #333;
  font-size: 0.9em;
}
