/*
 * LSformElement_ssh_key
 */
.LSformElement_ssh_key_value {
  display:            none;
  width:              30em;
  font-style:         italic;
  font-family:        courier;
  background-color:   #b5e4f6;
  border:             1px solid #ccc;
  overflow:           auto;
}

.LSformElement_ssh_key_short_display {
  font-style:         italic;
  font-family:        courier;
  cursor:             pointer;
}

textarea.LSformElement_ssh_key {
  height:             10em;
}

@media (max-width: 1024px) {
	.LSformElement_ssh_key_value {
		width: 40vw;
	}
}

@media (max-width: 400px) {
	.LSformElement_ssh_key_value {
		width: calc(100% - 1em);
	}
}
