input.LSformElement_supannLabeledValue_search {
	border: 1px solid #CCC;
	width: 200px;
	background: url('../image/find') no-repeat scroll 0% 0% #FFF !important;
	padding-left: 18px;
}

div.supannLabeledValue_possibleValues ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	border: 1px solid #CCC;
	border-collapse: collapse;
}

div.supannLabeledValue_possibleValues li {
	border-bottom: 1px solid #CCC;
	margin-bottom: 2px;
}

div.supannLabeledValue_possibleValues li:hover {
	background-color: #CCC;
	cursor: pointer;
}
