ul.LSformElement_mail_autocomplete {
  border:                     1px solid #ccc;
  width:                      200px;
  margin:                     0;
  margin-top:                 0.1em;
  max-height:                 10em;
  overflow:                   auto;
  padding:                    0;
  list-style-type:            none;
}

li.LSformElement_mail_autocomplete {
  cursor:                     pointer;
  border-bottom:              1px dotted #ccc;
  font-size:                  0.8em;
}

li.LSformElement_mail_autocomplete:last-of-type {
  border: none;
}

li.LSformElement_mail_autocomplete_over {
  background-color:           #ccc;
}

li.LSformElement_mail_autocomplete_current {
  font-style:                 italic;
  color:                      #777;
}

@media (max-width: 1024px) {
  ul.LSformElement_mail_autocomplete {
  	width: 40vw;
    box-sizing: border-box;
  }
}

@media (max-width: 400px) {
  ul.LSformElement_mail_autocomplete {
  	width: calc(100% - 1em);
  }
}
