ul.LSformElement_jsonCompositeAttribute li {
	border: 1px dotted #CCC;
	padding: 2px;
}

ul.LSformElement_jsonCompositeAttribute li.noValue {
	border: none;
}

ul.LSformElement_jsonCompositeAttribute div {
	margin: 0;
	margin-bottom: 2px;
}

ul.LSformElement_jsonCompositeAttribute div label {
	display: inline-block;
	height: 100%;
	vertical-align: top;
	width: 10em;
	font-weight: bold;
	color: #666;
}

ul.LSformElement_jsonCompositeAttribute div ul {
	display: inline-block;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.LSformElement_jsonCompositeAttribute div ul li {
	margin-bottom: 2px;
	border: none;
}

div.jsonCompositeAttribute_possibleValues ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	border: 1px solid #CCC;
	border-collapse: collapse;
}

div.jsonCompositeAttribute_possibleValues li {
	border-bottom: 1px solid #CCC;
	margin-bottom: 2px;
}

div.jsonCompositeAttribute_possibleValues li:hover {
	background-color: #CCC;
	cursor: pointer;
}

ul.LSformElement_jsonCompositeAttribute div select {
	margin: 2px;
}

@media (max-width: 1024px) {
	ul.LSformElement_jsonCompositeAttribute {
		width: 40vw;
	}

	ul.LSformElement_jsonCompositeAttribute div label {
		width: auto;
	}

	ul.LSformElement_jsonCompositeAttribute div input[type=text], ul.LSformElement_jsonCompositeAttribute div select {
		width: calc(40vw - 10px);
		box-sizing: border-box;
	}
}

@media (max-width: 400px) {
	ul.LSformElement_jsonCompositeAttribute {
		width: calc(100% - 1em);
	}

	ul.LSformElement_jsonCompositeAttribute div ul {
		width: 100%;
	}

	ul.LSformElement_jsonCompositeAttribute div ul input[type=text] {
		width: 100%;
	}

	ul.LSformElement_jsonCompositeAttribute div select {
		width: calc(100% - 4px);
	}
}
