h3.LSio {
  margin-left: 1.5em;
  border-bottom: 1px solid;
}

div.LSio_error {
  padding: 0 2em;
}

ul.LSio_global_errors {
  background-color: #F56A6A;
  list-style-type: none;
  padding: 1em;
  text-align: center;
}

ul.LSio_data_errors {
  font-style: italic;
  font-size: 0.8em;
}

ul.LSio_attr_errors {
  padding-left: 1.5em;
}

ul.LSio_attr_errors li {
  color: #f00;
}
