/*
 ***********************
 * LSrelation
 ***********************
 */
h1.LSrelation {
  font-size:          1.4em;
  margin-bottom:      0;
}

img.LSrelation-btn {
  margin-left:        0.5em;
}

a.LSrelation {
  text-decoration:    none;
  color:              #000;
  font-weight:        normal;
}
