/*
 ************************
 * LSselect
 ************************
 */

#LSselect-object {
  width:              570px;
}

.sortBy_displayName, .sortBy_subDn {
  cursor:             pointer;
}

.LSobject-select-check {
  width:              10px;
}

.LSobject-select-names {
  cursor:             pointer;
}

#LSselect_topDn_label {
  float:              left;
  font-size:          0.8em;
  margin-left:        1em;
  margin-top:         0.5em;
}

 /*
  * LSselect_search
  */
form.LSselect_search {
  float:              none;
  margin-top:         0.5em;
}

div.LSselect_search {
  float:              right;
}

div.LSobject-select {
  width:              620px;
}

/*
 * Selectable object types tabs
 */
ul.LSselect_selectable_object_types {
  list-style-type:    none;
  padding:            0 0 4px 0;
  margin:             1em;
  margin-bottom:      0;
  border-bottom:      1px solid #52BCE5;
}

ul.LSselect_selectable_object_types li {
  color:              #fff;
  background-color:   #52BCE5;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius:      3px 3px 0px 0px;
  padding:            4px;
  display:            inline;
  margin-right:       1px;
  cursor:             pointer;
}

ul.LSselect_selectable_object_types li.current {
 background-color:   #0072B8;
}
