img {
  vertical-align:     bottom;
}

a:hover {
  text-decoration:    underline;
}

a img {
  border:             none;
}

.content-wrapper, .right-side {
    background-color: #fff!important;
}

/*
 ****************
 * LSobject-list
 ****************
 */

img.LSobject-list-ordersense {
  vertical-align:     middle;
}

table.LSobject-list tbody tr:hover {
  background-color:   #729EB6;
}
table.LSobject-list tbody tr:hover a {
  color: #fff;
}

td.LSobject-list-without-result {
  text-align:         center;
}

a.LSobject-list {
  color:              #000;
  text-decoration:    none;
}

/* Action */
a.LSobject-list-actions {
  color:              #0072b8;
  text-decoration:    none;
}

a.LSobject-list-actions:hover {
  text-decoration:    underline;
}

td.LSobject-list-actions {
  text-align:         center;
  width:              7em;
}

/* Name */
td.LSobject-list-names {
  cursor:             pointer;
}

/*
 * Liste des pages
 */
p.LSobject-list-page {
  text-align:         center;
  margin:             0.5em;
}

a.LSobject-list-page {
  color:              #0072b8;
  text-decoration:    none;
}

a.LSobject-list-page:hover {
  color:              #0072b8;
}

strong.LSobject-list-page {
  color:              #0072b8;
}

#LSobject_list_nbresult {
  float:              right;
  color:              #333;
  font-style:         italic;
  margin-right:       20px;
  text-transform:     lowercase;
}

/*
 *******************
 * LSview-actions
 *******************
 */
a.LSview-actions {
  text-decoration:    none;
  color:              #000;
}

ul.LSview-actions {
  clear:              both;
  text-align:         right;
  font-size:          0.8em;
  margin:             0;
  margin-top:         0.4em;
  margin-right:       3em;
  margin-bottom:      0.8em;
  color:              #0072b8;
}

li.LSview-actions {
  text-decoration:    none;
  color:              #000;
  border:             1px solid #0072b8;
  border-top:         0;
  padding:            0.4em;
  display:            inline;
  margin-right:       1px;
}

/*
 *******************
 * question
 *******************
 */
p.question {
  margin-left:        3em;
}

a.question {
  margin-left:        10em;
  margin-top:         3em;
  color:              #0072b8;
}

/*
 *********************
 * LSview_search
 *********************
 */
div.LSview_search {
  float:              right;
  margin:             0;
  margin-top:         -0.5em;
  margin-right:       2em;
}

#LSview_search_param {
  margin:             0px;
  padding:            0px;
}

label.LSview_search {
  font-size:          0.6em;
}

input[type='text'].LSview_search {
  border:             1px solid #0072b8;
  width:              12em;
}

input[type='submit'].LSview_search {
  border:             1px solid #0072b8;
  width:              8em;
  background-color:   #0072b8;
  color:              #fff;
}

#LSview_search_predefinedFilter {
  float:              left;
  margin-bottom:      0;
  margin-left:        1.2em;
}
