/* LSinfoBox */
div.LSinfosBox {
  position:                 absolute;
  width:                    50%;
  left:                     25%;
  background-color:         #b5e4f6;
  border:                   1px solid #4096b8;
  visibility:               hidden;
  color:                    #4096b8;
  z-index:                  100;
  top:                      10px;
  font-weight:              bold;
}

span.LSinfosBox {
  float:                    right;
  cursor:                   pointer;
  font-family:              sans-serif;
  padding:                  2px;
}


div.LSdebug {
  top:                      10px;
  left:                     50%;
  background-color:         #84ff6a;
  border:                   1px solid #84ff6a;
  color:                    #103a06;
}

div.LSerror {
  top:                      10px;
  left:                     10px;
  background-color:         #f00;
  border:                   1px solid #f00;
  color:                    #fff;
}

#LSdebug_txt, #LSerror_txt, #LSinfos_txt, #LSjsConfig  {
  display:                  none;
}

/* LSlang */
#LSlang_select {
  display:                  none;
  background-color:         #000;
  -moz-border-radius:       8px;
  position:                 absolute;
  max-width:                200px;
  padding:                  5px;
  z-index:                  100;
}

#LSlang_select img {
  vertical-align:           middle;
}

/* Tips */
.tip-top {
  color: #fff;
  width: 139px;
  z-index: 13000;
}
 
.tip-title {
  font-weight:      bold;
  font-size:        11px;
  margin:           0;
  color:            #b5e4f6;
  padding:          2px;
  background:       #333;
  opacity:          0.8;
  -moz-border-radius:   2px;
  max-width:        500px;
  text-align:       justify;
}


