/*
 ************************
 * LSselect
 ************************
 */

#LSselect-object {
  width:              570px;
}

.sortBy_displayName, .sortBy_subDn {
  cursor:             pointer;
}

.LSobject-select-check {
  width:              10px;
}

.LSobject-select-names {
  cursor:             pointer;
}

#LSselect_topDn_label {
  float:              left;
  font-size:          0.8em;
  margin-left:        1em;
  margin-top:         0.5em;
}
 
 /*
  * LSselect_search
  */
form.LSselect_search {
  float:              none;
  margin-top:         0.5em;
}

div.LSselect_search {
  float:              right;
}

div.LSobject-select {
  width:              620px;
}
