/*
 * LSformElement_image
 */
div.LSformElement_image {
  float:              right;
  clear:              both;
  margin:             2em;
  background-color:   #595651;
  width:              160px;
  padding:            5px;
  text-align:         center;
  -moz-border-radius: 1em;
}

img.LSformElement_image {
  width:              150px;
  border:             1px solid #fff;
  margin:             5px;
}

div.LSformElement_image_errors {
  background-color:   #f59a67;
}

ul.LSformElement_image_actions {
  list-style-type:    none;
  position:           absolute;
  margin-top:         8px;
  margin-left:        135px;
  padding:            0;
  visibility:         hidden;
  cursor:             pointer;
}
