/*
 * LSformElement_select_object
 */
a.LSformElement_select_object {
  text-decoration:            none;
  color:                      #33302b;
  font-weight:                normal;
 
}

ul.LSformElement_select_object_edit {
  border:                     1px solid #dedede;
  border-bottom:              none;
  width:                      300px;
}

li.LSformElement_select_object {
  padding:                    0.1em;
  border-bottom:              1px solid #dedede;
}

li.LSformElement_select_object_addBtn {
  background-color:           #dedede;
  text-align:                 center;
}

img.LSformElement_select_object_deleteBtn {
  cursor:                     pointer;
}
