body {
  font-family:        sans-serif;
  margin:             0;
  padding:            0;
}

img {
  vertical-align:     bottom;
}

a:hover {
  text-decoration:    underline;
}

h1 {
  margin:             0.5em;
  margin-bottom:      0em;
  border-bottom:      1px solid #0072b8;
  color:              #0072b8;
  clear:              left;
}

a img {
  border:             none;
}

hr {
  visibility:         hidden;
  clear:              both;
  height:             0px;
}

#main {
  width:              1000px;
  margin:             auto;
  border:             1px solid #52bce5;
  background:         #fff url(../images/fd_menu.png) repeat-y scroll left top;
  height:             100%;
}

#left {
  float:              left;
  width:              160px;
}

#right {
  margin:             0;
  float:              left;
  width:              840px;
}

#logo {
  margin:             auto;
  width:              142px;
  margin-left:        9px;
}

#status {
  margin:             0;
  padding:            0;
  font-size:          0.7em;
  color:              #fff;
  text-align:         right;
  background-color:   #52bce5;
  padding:            0.3em;
}


#LSsession_topDn {
  height:                   1.5em;
  width:                    150px;
}

#LSsession_topDn_form {
  width:                    150px;
  margin:                   5px;
  color:                    #fff;
}

#user_name {
  font-weight:        bold;
}

ul.menu {
  list-style-image:   url(../images/puce.png);
}

li.menu {
  color:              #fff;
}

a.menu {
  color:              #fff;
  text-decoration:    none;
}

table.LSobject-list {
  margin-left:        1em;
  margin-top:         0.5em;
  border:             1px solid #52bce5;
  width:              805px;
  border-collapse:    collapse;
  clear:              both;
}

td.LSobject-list {
  border:             1px solid #52bce5;
  padding:            0.1em;
}

td.LSobject-list-without-result {
  text-align:         center;
}

th.LSobject-list {
  background-color:   #52bce5;
  color:              #fff;
}

a th.LSobject-list {
  text-decoration:    none;
}

th.LSobject-list-subdn {
  width:              15em;
}

tr.LSobject-list-bis {
  background-color:   #ecf8fd;
}

a.LSobject-list {
  color:              #000;
  text-decoration:    none;
}

a.LSobject-list-actions {
  color:              #0072b8;
  text-decoration:    none;
}

a.LSobject-list-actions:hover {
  text-decoration:    underline;
}

td.LSobject-list-actions {
  width:              7em;
}

td.LSobject-list-names {
  cursor:             pointer;
}

p.LSobject-list-page {
  text-align:         center;
  margin:             0.5em;
  width:              30em;
}

a.LSobject-list-page {
  color:              #52bce5;
  text-decoration:    none;
}

a.LSobject-list-page:hover {
  color:              #0072b8;
}

strong.LSobject-list-page {
  color:              #0072b8;
}

p.LSview-actions {
  clear:              both;
  text-align:         right;
  font-size:          0.8em;
  margin:             0;
  margin-top:         0.3em;
  margin-right:       3em;
  margin-bottom:      0.8em;
  color:              #0072b8;
}

a.LSview-actions {
  text-decoration:    none;
  color:              #000;
  border:             1px solid #0072b8;
  border-top:         0;
  padding:            0.4em;
}

p.question {
  margin-left:        3em;
}

a.question {
  margin-left:        10em;
  margin-top:         3em;
  color:              #0072b8;
}

div.LSform_image {
  float:              right;
  clear:              both;
  margin:             2em;
  background-color:   #52bce5;
  width:              160px;
  padding:            5px;
  text-align:         center;
  -moz-border-radius: 1em;
}

div.LSform_image_errors {
  background-color:   #f59a67;
}

img.LSform_image {
  width:              150px;
  border:             1px solid #fff;
  margin:             5px;
}

ul.LSform_image_actions {
  list-style-type:    none;
  position:           absolute;
  margin-top:         8px;
  margin-left:        135px;
  padding:            0;
  visibility:         hidden;
  cursor:             pointer;
}

form.LSview_search {
  float:              right;
  margin:             0;
  margin-top:         0.5em;
  margin-right:       2em;
}

form.LSselect_search {
  float:              none;
}

div.LSselect_search {
  float:              right;
}

#LSview_search_param {
  margin:             0px;
  padding:            0px;
}

label.LSview_search {
  font-size:          0.6em;
}

input[type='text'].LSview_search {
  border:             1px solid #0072b8;
  width:              12em;
}

input[type='submit'].LSview_search {
  border:             1px solid #0072b8;
  width:              8em;
  background-color:   #52bce5;
  color:              #fff;
}

div.LSobject-select {
  width:              600px;
}

#LSselect-object {
  width:              570px;
}

.sortBy_displayValue, .sortBy_subDn {
  cursor:             pointer;
}

.LSobject-select-check {
  width:              10px;
}

#LSselect_topDn_label {
  float:              left;
  font-size:          0.8em;
  margin-left:        1em;
  margin-top:         0.5em;
}

form.LSselect_search {
  margin-top:         0.5em;
}

img.LSrelation-btn {
  margin-left:        0.5em;
}

.btn {
  cursor:             pointer;
}

#LSview_subDnName {
  float:              left;
  margin:             0.5em;
  margin-bottom:      0em;
}

img.LSobject-list-ordersense {
  vertical-align:     middle;
}

th.LSobject-list a {
  color:              #fff;
  text-decoration:    none;
}
