body {
  font-family:        sans-serif;
  margin:             0;
  padding:            0;
}

img {
  vertical-align:     bottom;
}

a:hover {
  text-decoration:    underline;
}

h1 {
  margin:             0.5em;
  border-bottom:      1px solid #0072b8;
  color:              #0072b8;
}

a img {
  border:             none;
}

hr {
  visibility:         hidden;
  clear:              both;
  height:             0px;
}

#main {
  width:              1000px;
  margin:             auto;
  border:             1px solid #52bce5;
  background:         #fff url(../images/fd_menu.png) repeat-y scroll left top;
}

#left {
  float:              left;
  width:              160px;
}

#right {
  margin:             0;
  float:              left;
  width:              840px;
}

#logo {
  margin:             auto;
  width:              142px;
  margin-left:        9px;
}

#status {
  margin:             0;
  padding:            0;
  font-size:          0.7em;
  color:              #fff;
  text-align:         right;
  background-color:   #52bce5;
  padding:            0.3em;
}

#user_name {
  font-weight:        bold;
}

ul.menu {
  list-style-image:   url(../images/puce.png);
}

li.menu {
  color:              #fff;
}

a.menu {
  color:              #fff;
  text-decoration:    none;
}

table.LSobject-list {
  margin-left:        1em;
  border:             1px solid #52bce5;
  width:              30em;
  border-collapse:    collapse;
}

td.LSobject-list {
  border:             1px solid #52bce5;
  padding:            0.1em;
}

th.LSobject-list {
  background-color:   #52bce5;
  color:              #fff;
}

a.LSobject-list {
  color:              #000;
  text-decoration:    none;
}

a.LSobject-list-actions {
  color:              #0072b8;
  text-decoration:    none;
}

a.LSobject-list-actions:hover {
  text-decoration:    underline;
}

td.LSobject-list-actions {
  width:              7em;
}

td.LSobject-list-names {
  cursor:             pointer;
}

p.LSobject-list-page {
  text-align:         center;
  margin:             0.5em;
  width:              30em;
}

a.LSobject-list-page {
  color:              #52bce5;
  text-decoration:    none;
}

a.LSobject-list-page:hover {
  color:              #0072b8;
}

strong.LSobject-list-page {
  color:              #0072b8;
}

p.LSview-actions {
  text-align:                 right;
  font-size:                  0.8em;
  margin:                     0.2em;
  margin-right:               3em;
  color:                      #0072b8;
}

p.question {
  margin-left:        3em;
}

a.question {
  margin-left:        10em;
  margin-top:         3em;
  color:              #0072b8;
}
