#LSerror {
	width:										50%;
	position:									absolute;
	top:											10px;
	left:											10px;
	background-color:					#f00;
	visibility:								hidden;
	color:										#fff;
	z-index:									100;
}

#LSdebug {
	width:										50%;
	position:									absolute;
	top:											10px;
	left:											50%;
	background-color:					#84ff6a;
	visibility:								hidden;
	color:										#fff;
	z-index:									100;
}

#LSdebug_hidden {
	float:										right;
	color:										#fff;
	text-decoration:					none;
	font-weight:							bold;
}
