/*
 ******************
 * LSForm
 ******************
 */
 
/*
 * Architecture
 */ 
dl.LSform {
  margin:                     0;
  margin-left:                2em;
  padding:                    0;
}

.LSform dt {
  position:                   relative;
  left:                       0.2em;
  top:                        1.2em;
  width:                      12em;
  font-weight:                bold;
  font-size:                  0.9em;
  color:                      #0072b8;
}

dd.LSform {
  margin-left:                13em;
  padding:                    0;
}

ul.LSform {
  list-style-type:            none;
  padding:                    0;
  margin:                     0;
}

ul.LSform li {
  overflow:                   auto;
  margin-bottom:              2px;
}

/*
 * Champs du formulaire
 */
.LSform input, .LSform select, .LSform textarea {
  border:                     1px solid #ccc;
  width:                      300px;
  background-color:           #b5e4f6;
}

input[type='submit'].LSform {
  border:                     1px outset #ccc;
  margin-top:                 1em;
  margin-left:                6em;
  width:                      8em;
}

.LSform-errors {
  color:                      #fff;
  background-color:           #f59a67;
}

/* Bouton JS */
img.LSform-add-field-btn, img.LSform-remove-field-btn {
  cursor:                     pointer;
}
