dl.LSform {
  margin:                     0;
  margin-left:                2em;
  padding:                    0;
}

.LSform dt {
  position:                   relative;
  left:                       0.2em;
  top:                        1.2em;
  width:                      12em;
  font-weight:                bold;
  font-size:                  0.9em;
  color:                      #0072b8;
}

dd.LSform {
  margin-left:                13em;
  padding:                    0;
}

.LSform input, .LSform select, .LSform textarea {
  border:                     1px inset #ccc;
  width:                      300px;
  background-color:           #b5e4f6;
}

input[type='submit'].LSform {
  border:                     1px outset #ccc;
  margin-top:                 1em;
  margin-left:                6em;
  width:                      8em;
}

ul.LSform {
  list-style-type:            none;
  padding:                    0;
  margin:                     0;
}

li.LSform {
  overflow:                   auto;
}

.LSform-errors {
  color:                      #fff;
  background-color:           #f59a67;
}

img.LSform-add-field-btn, img.LSform-remove-field-btn {
  cursor:                     pointer;
}

a.LSformElement_select_object_addBtn {
  text-decoration:            none;
  color:                      #000;
  font-weight:                normal;
 
}

ul.LSformElement_select_object {
  border:                     1px solid #b5e4f6;
  border-bottom:              none;
  width:                      300px;
}

li.LSformElement_select_object {
  padding:                    0.1em;
  border-bottom:              1px solid #b5e4f6;
}

li.LSformElement_select_object_addBtn {
  background-color:           #b5e4f6;
  text-align:                 center;
}

img.LSformElement_select_object_deleteBtn, img.LSformElement_password_view_btn, img.LSformElement_password_generate_btn {
  cursor:                     pointer;
}
